<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Contents Saved</title>
</head>
<body>
    <div class="container text-center mt-5">
        <div class="card shadow-lg border-0">
            <div class="card-header bg-success text-white">
                <h1 class="display-6">Contents Saved</h1>
            </div>
            <div class="card-body">
                <p>Your file is ready for download</p>
                <a href="/download/{{ filename }}" class="btn btn-primary btn-lg">Download TXT File</a>
            </div>
        </div>
    </div>
     <div id="particles-js"></div>
</body>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="/static/particles-config.js"></script>
</html>