<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Authentication</title>
</head>
<body>
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-header custom-header">
                <h1 class="text-center">Welcome to PW Batch Extractor </h1>
            </div>
            <div class="card-body bg-light-grey">
                <form action="/subjects" method="post">
                    <div class="form-group mb-3">
                        <label for="auth_code" class="form-label">Auth Code:</label>
                        <input type="text" name="auth_code" id="auth_code" class="form-control" placeholder="Enter Auth Code" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="batch_id" class="form-label">Batch ID:</label>
                        <input type="text" name="batch_id" id="batch_id" class="form-control" placeholder="Enter Batch ID" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                    <div id="particles-js"></div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="/static/particles-config.js"></script>
</html>